#header{
        width: 100%;
        position: fixed;
        display: block;
        background-color: rgba(0,0,0,.15);
        top: 0;
        left: 0;
        height: 30px;
        padding: 5px 8px;
        color: #fff;
        margin-bottom: 10px;
        z-index: 1;
}
body{
        background-color: rgb(0, 121, 191);
}
#titlefont{
        font-family: "sans-serif";
        font-size: 28px;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        line-height: 30px;
        vertical-align: middle;
        display: block;
        cursor: pointer;
}
.memberlist{
        position: relative;
        top:80px;
}
.memberelement{
        float: left;
        display: inline-block;
        position: relative;
        height: 80%;
        border-radius: 3px;
        border-style: solid;
        border-color: #00000033;
        font-size: 22px;
        font-family: "sans-serif";
        font-weight: 700;
        flex-grow: 1;
        margin:10px;
        text-align: center;
        background-color: #e2e4e6;
        align-content: center;
        justify-content: center;
        cursor: pointer;
}
.addelement{
        float: left;
        display: flex;
        margin:10px;
        height: 158px;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: 90px;
        cursor: pointer;
}
.deleteicon{
        position: absolute;
        top:-2px;
        right: 0px;
        cursor: pointer;
        display: none;
}
.memberelement:hover .deleteicon{
        display: block;
}
.black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
}
.popup-header{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
}
.white_content {
        display: none;
        position: absolute;
        top: 33%;
        left: 43%;
        width: 11%;
        height: 18%;
        padding: 16px;
        border: 8px solid rgb(0, 121, 191);
        border-radius: 3px;
        background-color: white;
        z-index: 1002;
        overflow: auto;
        line-height: 24px;
}